{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="backdrop"></div><a class="backtop fas fa-arrow-up" href="#"></a>
    <section class="inner-section about-company">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-content">
                        <br>
                        <h2>Barka da zuwa shafin mu!</h2>
                            <p> A wannan shafi na Hausa Crypto, mun yadda cewa kasancewa cikin sanin shine cigaba a wannan duniyar da muke ciki ta kudin yanar gizo. 
                            Shafin mu ya ta'allaka ne domin samar muku sabbin labarai, binciken masana, da kuma fahimtaccen bayani domin ka/ki kasance ce a sahun 
                            farko na wannan duniya kirifto.
                            <br>
                            <p>A wannan yanar gizo, kudaden yanar gizo sun bayyana ne a matsayin wata sahihiyar hanyar samar sabon salon kudi, ta 
                            hanyar dakile tsohon salon tare da bude damarmaki ga yan kasuwa da masu sha'awa. Duk da haka, gudanar da wannan surkullen yanayi na da 
                            wahala matukar babu wata sahihiyar hanya da samun ingantattun bayanan wayai dakai al'umma akai-akai. </p>
                            <p><h5>Wannan shine dalilin samuwar mu!</h5></p>
                            <br>
                            <p>Hazikan marubantan mu da kwararrun masana abokan aiki, na aiki ne tukuru ba dare-ba-rana domin kawo muku ingantattu kuma shaharrun rubutu. 
                            Ko da kai dan kasuwa ne na lokaci-lokaci wanda ke neman canja akalar yadda yake gudanar da kasuwanci sa ko kuma dan koyo ne kai wanda yake 
                            neman ta inda zai fara wannan sabon kasuwanci, Hausa Crypto sun bayyan ne domin samar maka ilimin da kaka bukata domin zartar da hukunci da ka 
                            ga ya dace da kai.</p>
                            <br>                         
                            <p>Mun fahimtar yadda kasuwar kirifton take tafiya cikin hanzari, kasancewar akwai labaruka da cigaba da ke wanzuwa kowacce sa'a. Wannan yasa 
                            muka karfafa isar da muhimman labarai, bayanai da shirye-shirye kai tsaye, domin tabbatar da babu wani sahihin kuma nagartaccen bayanai da ya 
                            ketareku wanda zai bada gudummawa akan abun da ya shafi kasuwancin ku</p>
                            <br>
                            <p>Bayan samar da labari, shafin namu ya wuce makidi da rawa wajen ketare kanun domin samar da sahihin ilimin kasuwa. Muna shiga can karkashin 
                            duniyar kasuwar kirifton, isar da bayan akan karfin dake tafiyar girgizar kasuwa, sannan nazartar sabbin kimiyyar da ka iya shafar bangaren kudi 
                            a gobe. Ra'ayin kwararrun abokin aikin mu da kuma rahotannin su, za baka damar fahimtar duniyar kirifton domin ka zama zakaran gwaci dafi.</p>
                            <br>
                            <p>Bayan haka, mun gano amfanin ilimi da tasirin sa a  wannan harkallah ta kirifto. Hakan yasa muka samar da wani bangare acikin shirye-shiryen 
                            mu domin sabbin shiga ko kuma wanda basu zurfi ba, wanda zai dinga fitar da bayanan dalla-dalla na salon koyi da kanka. Hakan zai baku damar fahimtar 
                            surkullen kimiyyar bulokcen, harkalla kudi mai zaman kanta, da sauran abubuwa masu muhimmance. Manufar mu shine mu karfafa maka gwiwa wajen zartar da 
                            hukunci da kuma kara fahimtar ilimin kirifot.</p>
                            <br>
                            <p>A karshe muna gayyatar ku domin ku kasance cikin gayyar mutanen mu masu ra'ayi irin namu, wanda suke da zumma akan wannan karni na duniyar kirito da 
                            damarmakin dake tattare da ita. Domin kasancewa daya daga cikin wannan tafiya ta yanci zaka iya tura mana adireshin ka na yanar gizo wato email damun samun 
                            shirye-shirye da labarai mun kai tsaye ba tare da shan wahala ba. Sanna hakan zai baka damar kasancewa da kwararrun masana duniyar kirifto domin kara samun 
                            ilimin da kanka da kuma kara fahimtar ilimin kirifto</p>
                            <br>
                            <p>Mun gode da zabin Hausa Crypto a matsayin hanyar ku ta samun kowanne lamarin da ya shafi kirito. Hade kanmu a wannan tafiya zai bamu damar tsuduma cikin 
                            wannan duniyar ta kirifto da kuma canja akalar kasuwanci mu domin tafiya dai-dai da zamani</p>
                            <hr>
                            <p><h4>kasance Wayayye, kasance Jagaban!</h4></p> 
                            <p><h4>kasance da Hausa Crypto!</h4></p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="inner-section about-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Abokan Aikin mu</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="team-slider slider-arrow">
                        <li>
                            <figure class="team-media"><img src="{% static 'images/team/06.jpg' %}" alt="team">
                                <div class="team-overlay"><a href="#" class="icofont-facebook facebook"></a><a href="#"
                                        class="icofont-twitter twitter"></a><a href="#"
                                        class="icofont-linkedin linkedin"></a></div>
                            </figure>
                            <div class="team-meta">
                                <h5><a href="#">Shehu Usman</a></h5>
                                <p>Founder & CEO</p>
                            </div>
                        </li>
                        <!-- <li>
                            <figure class="team-media"><img src="{% static 'images/team/02.jpg' %}" alt="team">
                                <div class="team-overlay"><a href="#" class="icofont-facebook facebook"></a><a href="#"
                                        class="icofont-twitter twitter"></a><a href="#"
                                        class="icofont-linkedin linkedin"></a></div>
                            </figure>
                            <div class="team-meta">
                                <h5><a href="#">Umar Abdullahi</a></h5>
                                <p>Marubuci</p>
                            </div>
                        </li>
                        <li>
                            <figure class="team-media"><img src="{% static 'images/team/03.jpg' %}" alt="team">
                                <div class="team-overlay"><a href="#" class="icofont-facebook facebook"></a><a href="#"
                                        class="icofont-twitter twitter"></a><a href="#"
                                        class="icofont-linkedin linkedin"></a></div>
                            </figure>
                            <div class="team-meta">
                                <h5><a href="#">Mubarak Abdullahi</a></h5>
                                <p>Idita</p>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}