{% load static %}

<footer class="footer-part">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget"><a class="footer-logo" href="#"><img src="{% static 'images/logo6.jpg' %}"
                            alt="logo"></a>
                    <p class="footer-desc">Hausa Crypto shafin labarai ne mai zaman kansa wanda ke kawo muku labarai da kayatattun shirye-shiry iri-iri da suka 
                        shafi kudin kirifto da sauran kudaden yanar gizo. Za ku iya samun mu s shafinmu na sada zumunta kamar haka:
                    </p>
                    <ul class="footer-social">
                        <li><a class="icofont-facebook" href="#"></a></li>
                        <li><a class="icofont-twitter" href="https://twitter.com/Hausa_Crytpo?t=pb8kD9EM3EJYPBn3G7cR-g&s=09"></a></li>
                        <li><a class="icofont-instagram" href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget contact">
                    <h3 class="footer-title">tuntubemu mu</h3>
                    <ul class="footer-contact">
                        <li><i class="icofont-ui-email"></i>
                            <p><span>taimako@hausacrypto.com</span><span>aiki@hausacrypto.com</span></p>
                        </li>
                        <li><i class="icofont-ui-touch-phone"></i>
                            <p><span>+234 816 2037 790</span><span>+234 816 203 7790</span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <h3 class="footer-title">Sauran</h3>
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Ofishin mu</a></li>
                            <li><a href="#">Domin alaka ta kasuwanci</a></li>
                            <li><a href="#">Neman aiki</a></li>
                            <li><a href="#">Tambayoyi da Amsoshinsu</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <h3 class="footer-title">Sauke Manhajar mu</h3>
                    <p class="footer-desc">Domin sauke man hajarmu a kan wayoyin hannunku na Android ko Iphone ku dakace mu kadan...</p>
                    <div class="footer-app"><a href="#"><img src="{% static 'images/google-store.' %}png" alt="google"></a><a
                            href="#"><img src="{% static 'images/app-store.png' %}" alt="app"></a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="footer-bottom">
                    <p class="footer-copytext">&copy; Hakkin Mallaka <a href="https://twitter.com/Hausa_Crytpo?t=pb8kD9EM3EJYPBn3G7cR-g&s=09">Hausa Crypto</a></p>
                    <div class="footer-card"><a href="#"><img src="{% static 'images/payment/jpg/01.jpg' %}" alt="payment"></a><a
                            href="#"><img src="{% static 'images/payment/jpg/02.jpg' %}" alt="payment"></a><a href="#"><img
                                src="{% static 'images/payment/jpg/03.jpg' %}" alt="payment"></a><a href="#"><img
                                src="{% static 'images/payment/jpg/04.jpg' %}" alt="payment"></a></div>
                </div>
            </div>
        </div>
    </div>
</footer>